body {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url("./regimg.jpg");
}

h1 {
    text-align: center;
    color: #121111;
}

.reg {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="date"]
{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #131213;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="radio"] + label {
    display: inline-block;
    font-weight: normal;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

